/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
.flex {
    display: flex;
}
ul {
    list-style: none;
}

/* Typo */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Main */
.sidebar,
.main-page {
    height: calc(100vh - 90px);
}
.sidebar {
    width: 230px;
    background-color: #000;
    padding-top: 20px;
}
.main-page {
    width: calc(100% - 230px);
    background-color: blanchedalmond;
}

/* sidebar */
.logo {
    width: 130px;
    color: #fff;
}
.sidebar li {
    padding: 10px 0px 0px 20px;
}
.sidebar span {
    font-size: 10px;
    color: #6f6f6f;
    vertical-align: middle;
}
.icone-sidebar {
    height: 20px;
    vertical-align: middle;
}

/* Footer */
footer {
    height: 90px;
    background-color: #282828;
}