/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
.flex {
    display: flex;
}

/* Typo */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Main */
.sidebar,
.main-page {
    height: calc(100vh - 90px);
}
.sidebar {
    width: 230px;
    background-color: aqua;
}
.main-page {
    width: calc(100% - 230px);
    background-color: blanchedalmond;
}

/* Footer */
footer {
    height: 90px;
    background-color: #282828;
}